<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            Students
        </title>
        <script
  src="http://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                // AJAX POST
                $("#register").submit((e) => {
                    e.preventDefault()
                    let formData = {
                        "id": e.target.id.value,
                        "name": e.target.name.value,
                        "email": e.target.email.value
                    }
                    $.ajax({
                        type: "POST",
                        url: "/register-json",
                        cache: false,
                        data: JSON.stringify(formData),
                        contentType: "application/json",
                        success: res => {
                            console.log(res)
                        }
                    })
                    /*
                    let formData = new FormData($("form")[0])
                    $.ajax({
                        type: "POST",
                        url: "/register",
                        cache: false,
                        processData: false,
                        contentType: false,
                        data: formData,
                        success: function (res) {
                            console.log(res)
                        }
                    })
                    */
                })

                // AJAX GET
                $("#refresh-list").click(()=>{
                    const param = {
                        url: "/list-rest",
                        cache: false                        
                    }
                    $.ajax(param)                 
                    .done(data => {
                        console.log(data)
                        students = JSON.parse(data)
                        console.log(students)
                        let tBodyHtml = ''
                        for(let row of students){
                            tBodyHtml += `<tr>
                               <td>${row["id"]}</td>
                               <td>${row["name"]}</td>
                               <td>${row["email"]}</td>
                            </tr>`
                        }
                        $('table tbody').html(tBodyHtml)
                    })
                })
            })
        </script>
    </head>
    <body>
        Hello world
        <br />
        {{ table }}
        <h1>학생 등록</h1>
        <form id="register">
            <input type="number" name="id" placeholder="Your ID" />
            <input type="text" name="name" placeholder="Your Name" />
            <input type="email" name="email" placeholder="Your Email" />
            <button type="submit">등록하기</button>
        </form>
        <h1>학생 명단</h1>
        <button id="refresh-list">새로고침</button>
        <table>
            <thead>
                <tr>
                    <th>학번</th>
                    <th>이름</th>
                    <th>email</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </body>
</html>